.book-info {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.book-description {
  color: var(--white);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
}

.book-img {
  width: 446px;
}

.book-hidden-info {
  color: var(--white);
  font-family: var(--text-font-family);
  font-size: 15px;
  font-weight: 200;
  list-style: none;
}

.book-hidden-info-btn {
  display: flex;
  justify-content: start;
  gap: 11px;
  color: var(--white);
  font-family: var(--text-font-family);
  font-size: 15px;
  font-weight: 200;
  background: none;
  border: none;

  &.see-more-btn {
    display: flex;

    &.is-hidden {
      display: none;
    }
  }

  &.see-less-btn {
    display: none;

    &.is-active {
      display: flex;
    }
  }
}

.book-details {
  display: none;
  &.is-open {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
}
