.book-info {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.book-description {
  color: var(--white);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.book-img {
  width: 446px;
}

.book-hidden-info {
  color: var(--white);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 200;
  list-style: none;
}

.book-details {
  display: none;
  &.book-hidden-info-btn.is-active {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
}
