footer {
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
}

.footer-main-nav {
  padding-top: 98px;
  ol {
    list-style: none;
  }
  a {
    text-underline-offset: 19.5%;
  }
}
.footer-logo {
  font-family: "Persepolis", cursive;
  font-size: 64px;
}

.footer-img {
  width: 258px;
  padding: 13px;
}

.footer-image {
  display: flex;
  justify-content: center;
}

.footer-secondary-nav {
  padding-top: 198px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.footer-social-media {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-social-media svg {
  transition: 0.3s;
}

.footer-social-media svg:hover {
  scale: 110%;
}
