.paradoxical {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  .paradoxical-speech-bubble {
    padding: 149px 152px 0;
    width: 100%;
  }
  .paradoxical-choices {
    padding: 320px 71px 0 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.paradoxical-btn {
  background-color: var(--red);
  color: var(--white);
  padding: 7px 45px;
  border-radius: 34px;
  transition: 0.2s;
}
.paradoxical-btn:hover {
  border-radius: 14px;
}

.paradoxical-black-bg {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  height: 100vh;
  width: 51.4vw;
  background-color: var(--black);
}

video.paradoxical-marjane {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 50%;
}

.paradoxical-video-religion {
  left: 24.4%;
}
