.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--red);
  padding-top: 135px;
  position: relative;
  cursor: url("/img/scroll.png"), auto;
}
.presentation-title {
  font-family: "Persepolis", cursive;
  font-style: italic;
  font-size: 218px;
  color: var(--white);
}
.presentation-marjane {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;

  .presentation-speech-bubble {
    padding-top: 140px;
    position: absolute;
    left: 10%;
    top: -20%;
    width: 30%;
    transition: 0.3s;
  }
  .presentation-speech-bubble:hover {
    transform: rotate(-10deg);
  }
}

.presentation-marjane-open-eye,
.presentation-marjane-closed-eye {
  position: absolute;
  bottom: -7;
  width: 13%;
}

.presentation-marjane-closed-eye {
  opacity: 0;
}
