.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--red);
  padding-top: 135px;
  position: relative;
}
.presentation-title {
  font-family: "Persepolis", cursive;
  font-style: italic;
  font-size: 218px;
  color: var(--white);
}
.presentation-marjane {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  .presentation-speech-bubble {
    padding-top: 140px;
    position: absolute;
    left: 15%;
    top: -20%;
  }
  .presentation-marjane-open-eye {
    position: absolute;
    bottom: 0;
  }
}
