.homepage {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--black);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .homepage-marjane {
    height: 500px;
    width: 370px;
    position: relative;
  }

  .marjane-hand-down {
    position: absolute;
    top: 0;
  }

  .marjane-hand-up {
    position: absolute;
    top: 0;
    opacity: 0;
  }

  .homepage-speech-bubble {
    position: absolute;
    top: -30%;
    opacity: 0;
  }

  .homepage-marjane:hover {
    .homepage-speech-bubble {
      opacity: 1;
    }
    .marjane-hand-down {
      opacity: 0;
    }
    .marjane-hand-up {
      opacity: 1;
    }
  }
}
