.religion {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.religion-images {
  display: inline-flex;
  position: relative;
  width: 100%;

  :nth-child(1) {
    position: absolute;
    top: 10%;
    left: 10%;
    img {
      width: 600px;
    }
  }
  :nth-child(2) {
    position: absolute;
    top: 20%;
    left: 60%;
    img {
      position: static !important;
      width: 818px;
    }
  }
  :nth-child(3) {
    position: absolute;
    top: 11%;
    left: 133%;
    img {
      width: 500px;
    }
  }
  :nth-child(4) {
    position: absolute;
    top: 55%;
    left: 162%;
    img {
      width: 396px;
    }
  }
  :nth-child(5) {
    position: absolute;
    top: 18%;
    left: 200%;
    img {
      width: 383px;
    }
  }
  :nth-child(6) {
    position: absolute;
    top: 11%;
    left: 240%;
    img {
      width: 814px;
    }
  }
}

.religion-img-btn {
  position: relative !important;
  button {
    position: absolute;
    bottom: 0;
    right: 0;
    top: unset !important;
    left: unset !important;
  }
  .wanted-to-be-prophet-after {
    display: none;
    &.is-active {
      display: block;
    }
  }
}

.religion-towards-politics {
  position: absolute;
  top: 0;
  left: 300%;
}
.religion-towards-politics-content {
  position: relative;
  background-color: var(--black);
  height: 100vh;
  width: 83vw;
  :nth-child(1) {
    position: absolute;
    top: 10%;
    left: 14%;
    img {
      width: 821px;
    }
  }
  :nth-child(2) {
    position: absolute;
    top: 20%;
    left: 17%;
    img {
      width: 544px;
    }
  }
  :nth-child(3) {
    position: absolute;
    top: 72%;
    left: 40%;
  }
  :nth-child(4) {
    position: absolute;
    top: 85%;
    left: 43%;
  }
}

.the-first-one-after {
  opacity: 0;
  transition: 0.3s;
}
.the-first-one-after:hover {
  opacity: 1;
}
