:root {
  --black: #000;
  --white: #fff;
  --red: #870327;
  --text-font-family: "Outfit", sans-serif;
  --text-font-size: 16px;
  --text-font-weight: 300;
}

.loading-page {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
}

.btn {
  font-family: "Fake Nice", sans-Serif;
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
}

.buy-btn {
  opacity: 0.5;
  padding: 16px 74px;
  color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
}

.buy-now-btn {
  padding: 16px 74px;
  color: var(--red);
  text-decoration-line: underline;
  text-decoration-thickness: 5%;
  transition: 0.5s;
}
.buy-now-btn:hover {
  text-decoration-style: dotted;
  text-decoration-thickness: 13%;
}

.cta-btn {
  border-radius: 34px;
  border: 3px solid var(--red);
  color: var(--red);
  background: var(--white);
  width: max-content;
  height: max-content;
  padding: 16px 75px;
  transition: 0.3s;
}
.cta-btn:hover {
  border-radius: 80px;
  color: var(--white);
  background: var(--red);
}

.buy-btn-dark {
  color: var(--black);
}

.home-btn {
  position: absolute;
  top: 20px;
  right: 0;
  opacity: 0.5;
  padding: 16px 74px;
}

.buy-book-btn {
  display: inline-flex;
  gap: 1px;
  cursor: pointer;
  overflow: hidden;
  font-size: 64px;
  line-height: 1;
}

.buy-book-btn span {
  display: inline-block;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.15s;
  will-change: transform, opacity;
}

.buy-book-btn:hover span {
  opacity: 0;
  transform: translateY(-6px);
  animation: reveal 0.45s forwards;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.is-hidden {
  display: none !important;
}
